@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}
h1{
    background-color: rgb(0, 0, 0);
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 1px solid rgb(255, 255, 255, 0.75);
  border-radius: 16px;
  color: blur(255, 255,255,0.1);
  box-shadow: inset;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 30px;
    margin: 5px;
    padding: 10px 0px;
    border: 1px solid rgb(25,25,25);
    border-radius: 5px;
}